<!DOCTYPE html>
<html>
<%-include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec sagittis felis, accumsan convallis neque. Donec ut rhoncus metus. Aliquam finibus, massa non tempus ornare, arcu velit volutpat mi, at accumsan odio odio lobortis metus. Morbi eget sem sem. Ut et nisl accumsan, sollicitudin nibh ut, hendrerit felis. Praesent eu velit nec purus tempus molestie. Fusce placerat sapien neque, non eleifend dolor molestie ac. Nam bibendum leo sapien, sit amet dictum elit lacinia eget. Mauris eu turpis ac leo interdum malesuada nec nec mi. Aenean sed vestibulum neque. Proin vitae arcu accumsan, elementum leo eget, laoreet arcu. Donec tempus consequat posuere. Sed mollis, diam ac rutrum posuere, odio ex scelerisque est, quis lobortis velit massa sed nulla. </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec sagittis felis, accumsan convallis neque. Donec ut rhoncus metus. Aliquam finibus, massa non tempus ornare, arcu velit volutpat mi, at accumsan odio odio lobortis metus. Morbi eget sem sem. Ut et nisl accumsan, sollicitudin nibh ut, hendrerit felis. Praesent eu velit nec purus tempus molestie. Fusce placerat sapien neque, non eleifend dolor molestie ac. Nam bibendum leo sapien, sit amet dictum elit lacinia eget. Mauris eu turpis ac leo interdum malesuada nec nec mi. Aenean sed vestibulum neque. Proin vitae arcu accumsan, elementum leo eget, laoreet arcu. Donec tempus consequat posuere. Sed mollis, diam ac rutrum posuere, odio ex scelerisque est, quis lobortis velit massa sed nulla. 
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec sagittis felis, accumsan convallis neque. Donec ut rhoncus metus. Aliquam finibus, massa non tempus ornare, arcu velit volutpat mi, at accumsan odio odio lobortis metus. Morbi eget sem sem. Ut et nisl accumsan, sollicitudin nibh ut, hendrerit felis. Praesent eu velit nec purus tempus molestie. Fusce placerat sapien neque, non eleifend dolor molestie ac. Nam bibendum leo sapien, sit amet dictum elit lacinia eget. Mauris eu turpis ac leo interdum malesuada nec nec mi. Aenean sed vestibulum neque. Proin vitae arcu accumsan, elementum leo eget, laoreet arcu. Donec tempus consequat posuere. Sed mollis, diam ac rutrum posuere, odio ex scelerisque est, quis lobortis velit massa sed nulla.  
        </p>
    </div>
    <%-include('./partials/footer.ejs') %>
    
</body>
</html>